[Unit]
Description=hyperdeck-telnetclient
After=hyperdeck-timeremaining.service

[Service]
Type=simple
WorkingDirectory=/home/pi/hyperdeck-timeremaining
ExecStart=/home/pi/.local/bin/poetry run /home/pi/hyperdeck-timeremaining/hyperdeck-telnetclient.py
Restart=always
RestartSec=30
User=pi

[Install]
WantedBy=multi-user.target