body {
    background-color: #000000;
    color: white;
}

#remaining-container {
    height: 54vh;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;    
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    
    }

#remaining {
    font-size: 20vw;
    }

#myProgress {
    width: 97%;
    position: absolute;
    bottom: 0vh;
    background-color: #009fe3;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    height: 5vh;
    }

#progressBar {
    width: 1%;
    height: 5vh;
    background-color: #004376;
    
    }

#statusimage {
    background-image: url(/static/unknown.svg);
    width: 10vw;
    height: 10vw;
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    }

#filename {
    font-size: 2vw;
    text-align: center;
    font-family: sans-serif;
    margin-top: 1vh;
    }