<html>
<head>
<title>Hyperdeck Time Remaining</title>

<script src="/static/socket.io-4.5.4.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>


<div id="filename">
    ---
</div>
<div id="remaining-container">
    <div id="remaining">--:--:--</div>
</div>
<div id="myProgress">
<div id="progressBar"></div>
</div>

<div id="statusimage">  
</div>



<script>
var socket=io();
</script>



<script>
socket.on('update', function(json) {
  remaining = json.remaining
  hours = Math.floor(remaining / 60 / 60); remaining = remaining - hours * 60 * 60
  minutes = Math.floor(remaining / 60); remaining = remaining - minutes * 60
  seconds = remaining
  if (hours < 10) hours='0'+hours
  if (minutes < 10) minutes='0'+minutes
  if (seconds < 10) seconds='0'+seconds
  var elem_remaining = document.getElementById("remaining")
  elem_remaining.textContent = hours + ':' + minutes + ':' + seconds

  remaining = json.remaining
  duration = json.duration
  widthpercent = (100*(1-remaining/duration))
  if (widthpercent < 0) widthpercent = 0
  if (widthpercent > 100) widthpercent = 100
  var elem_progressBar = document.getElementById("progressBar")
  elem_progressBar.style.width = widthpercent + "%"

  status = json.status
  var elem_status = document.getElementById("statusimage")
  elem_status.style.backgroundImage = "url(/static/" + status + ".svg)"

  filename = json.filename
  var elem_filename = document.getElementById("filename")
  elem_filename.textContent = filename

  if (remaining > 120) {
      document.body.style.backgroundColor = "black";
      document.body.style.color = "white";
  }
  else if (remaining > 15 ) {
    document.body.style.backgroundColor = "yellow";
    document.body.style.color = "black";
  }
  else {
    document.body.style.backgroundColor = "red";
    document.body.style.color = "white";
  }

  console.log('update: ')
  console.log(json)
});
</script>

</body>
</html>